
superlists/geckodriver.log
superlists/superlists/__pycache__/__init__.cpython-38.pyc
superlists/superlists/__pycache__/settings.cpython-38.pyc
superlists/superlists/__pycache__/urls.cpython-38.pyc
superlists/superlists/__pycache__/wsgi.cpython-38.pyc
superlists/geckodriver.log
superlists/lists/__pycache__/tests.cpython-38.pyc
superlists/lists/__pycache__/views.cpython-38.pyc
superlists/geckodriver.log
*.pyc
*.pyc
*.sqlite3
superlists/db.sqlite3
superlists/lists/__pycache__/views.cpython-38.pyc
superlists/lists/__pycache__/__init__.cpython-38.pyc
superlists/lists/__pycache__/admin.cpython-38.pyc
superlists/lists/__pycache__/apps.cpython-38.pyc
superlists/lists/__pycache__/models.cpython-38.pyc
superlists/lists/migrations/__pycache__/0001_initial.cpython-38.pyc
superlists/lists/migrations/__pycache__/0002_item_text.cpython-38.pyc
superlists/lists/migrations/__pycache__/0003_auto_20210610_1534.cpython-38.pyc
superlists/lists/migrations/__pycache__/0004_auto_20210610_1535.cpython-38.pyc
superlists/lists/migrations/__pycache__/__init__.cpython-38.pyc
superlists/superlists/__pycache__/__init__.cpython-38.pyc
superlists/superlists/__pycache__/settings.cpython-38.pyc
superlists/superlists/__pycache__/urls.cpython-38.pyc
superlists/superlists/__pycache__/wsgi.cpython-38.pyc
*.pyc
